<h1>My Favorite Cars</h1>

<% @favorites.each do |favorite| %>

ID: <%= favorite.id %>
License Plate: <%= favorite.car.license_plate %>
Model: <%= favorite.car.model %>

<%= link_to "Delete", favorite_path(favorite.car_id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>

<br>

<% end %>

<h1>My Reviews</h1>

<% @car_reviews.each do |car_review| %>


<%=

car_review.review %> : <%=car_review.created_at %>
<br>

<% end %>


<h1>What Others Say About Me</h1>



