
<div class="banner">
  <div class="banner-text">
    <h1>Rent a Car. See the World.</h1>
  </div>


  <div class="h-25" id="car-search">
      <%= simple_form_for :search, method: :get, url: cars_path, html: { class: "card-body" } do |f| %>
        <div class="flexbox-class">
          <%= f.input :start_date, as: :datepicker, input_html: { maxlength: 10, size: 40} %>
          <%= f.input :end_date, as: :datepicker, input_html: { maxlength: 10, size: 40} %>
          <%= f.input :address, as: :search %>
          <%= f.submit 'Search', class: 'btn btn-secondary', id: 'search-button' %>
        </div>
      <% end %>
  </div>
</div>




