<div class="row">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <h3>Edit Car Details</h3>
      <%= simple_form_for @car do |f| %>
        <%= f.input :license_plate, placeholder: 'SUV-1234M' %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :age %>
        <%= f.input :pickup_location %>
        <%= f.input :rental_instructions %>
        <%= f.input :image_urls, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', car_path, class: 'btn btn-danger ml-2' %>
      <% end %>
    </div>
  </div>
</div>
