<h2><%= @car.license_plate %></h2>

<p> Owner: <%= User.find(@car.owner_id).name %></p>
<p> Brand: <%= @car.brand %></p>
<p> Model: <%= @car.model %></p>
<p> Age: <%= @car.age %></p>
<p> Pickup Location: <%= @car.pickup_location %></p>
<p> Rental Instructions: <%= @car.rental_instructions %></p>

<h3> Reviews </h3>
<% @car.car_reviews.each do |car_review| %>
  <% if car_review.car_id == @car.id %>
    <p><%= car_review.review %></p>
  <% end %>
<% end %>

<br>



<%= link_to 'Edit', edit_car_path, class: 'btn btn-success ml-2' %>
<%= link_to 'Back', cars_path, class: 'btn btn-primary ml-2' %>
<%= link_to 'Leave a review', new_car_car_review_path(@car), class: "btn btn-info" %>



  <% if @car.users_favorite.include? current_user%>
    <%= link_to "Favorited!", favorite_path(@car.id), method: :delete, class: "btn btn-danger" %>
  <%else%>
    <%= form_for(@favorite) do |f| %>
    <%= f.hidden_field :car_id, value: @car.id  %>
    <%= f.submit "Favorite", class: "btn btn-danger", id: "bookmark"%>
  <%end%>
<% end %>







