<div class="map" style="background-image: url('<%= @car.image_urls %>')"></div>

<div class="row">
  <div class="col-8">
    <div class="car-show-card">
      <h4 class="car-card-title">Vehicle Details</h4>
      <span style="color:grey">
        <i class="fas fa-car"> </i>
      </span>
      Brand: <%= @car.brand %>
      <br>

      <span style="color:grey">
        <i class="fas fa-calendar-alt"> </i>
      </span>
      Manufacture: <%= 2021 - @car.age %>
      <br>

      <span style="color:grey">
        <i class="fas fa-map-marked"> </i>
      </span>
      Pickup Location: <%= @car.pickup_location %>
      <br>

      <span style="color:grey">
        <i class="fas fa-book-open"> </i>
      </span>
      Rental Instructions:
      <br>
      <%= @car.rental_instructions %>
      <br>

    </div>

   <div class="car-show-card">
     <h4 class="car-card-title"> Reviews </h4>
      <% @car.car_reviews.each do |car_review| %>
        <% if car_review.car_id == @car.id %>
          <p id="review-box">
            <%= car_review.review %>
            <%= car_review.created_at %>

          </p>
        <% end %>
      <% end %>
   </div>

  </div>

  <div class="col-4">
    <div class="car-show-card">
      <h4 class="car-card-title">Book your car</h5>

      <%= simple_form_for [@car, @booking] do |f| %>
        <%= f.input :start_date, as: :datepicker %>
        <%= f.input :end_date, as: :datepicker %>
        <%= f.submit 'Book now', class: 'btn btn-secondary book', style: 'width:100%' %>
      <% end %>
    </div>

    <div class="car-show-card">
      <h4 class="car-card-title">Additional Options</h4>

      <%= link_to 'Leave a review', new_car_car_review_path(@car), class: "btn btn-outline-secondary" %>

      <% if @car.users_favorite.include? current_user%>
        <%= link_to "Liked", favorite_path(@car.id), method: :delete, class: "btn btn-secondary" %>
      <%else%>
        <%= form_for(@favorite) do |f| %>
        <%= f.hidden_field :car_id, value: @car.id  %>
        <%= f.submit "Like", class: "btn btn-outline-secondary", id: "bookmark", style: 'display:inline-block'%>
      <%end%>
      <% end %>

    </div>
    <div class="car-show-card">
        <h4 class="car-card-title">Share</h4>
          <i class="fab fa-facebook-square fa-2x"></i>
          <i class="fab fa-twitter-square fa-2x"></i>
          <i class="fab fa-pinterest-square fa-2x"></i>
          <i class="fas fa-envelope-square fa-2x"></i>

    </div>
  </div>
</div>



<br>



<%= link_to 'Edit', edit_car_path(@car), class: 'btn btn-outline-secondary' %>
<%= link_to 'Back', cars_path, class: 'btn btn-outline-secondary' %>


