<div class="map" style="background-image: url('<%= @car.image_urls %>')"></div>

<div class="row">
  <div class="col-8">
    <div class="car-show-card">
      <h1><%= @car.license_plate %></h1>
    </div>
    <div class="car-show-card">
      <h2>Some useful details about this car</h2>
      <p> Owner: <%= User.find(@car.owner_id).name %></p>
      <p> Brand: <%= @car.brand %></p>
      <p> Model: <%= @car.model %></p>
      <p> Age: <%= @car.age %></p>
      <p> Pickup Location: <%= @car.pickup_location %></p>
      <p> Rental Instructions: <%= @car.rental_instructions %></p>
    </div>
  </div>

  <div class="col-4">
    <div class="car-show-card">
      <h5>Select your booking period</h5>

      <%= simple_form_for [@car, @booking] do |f| %>
        <%= f.input :start_date, as: :datepicker %>
        <%= f.input :end_date, as: :datepicker %>
        <%= f.submit 'Book now', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div class="car-show-card">
      <h3>Price</h3>
      <div class="flex">
        <div class="flex ml-3">
          <i class="material-icons">attach_money</i> 100
        </div>
      </div>
    </div>
    <div class="car-show-card">
      <div class="flex-align">
        <h6 class="no-mb">Share</h6>

        <div class="flex">
          <i class="fa fa-facebook-square fa-2x mr-2"></i>
          <i class="fa fa-twitter-square fa-2x mr-2"></i>
          <i class="fa fa-pinterest-square fa-2x mr-2"></i>
          <i class="fa fa-envelope-square fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<h3> Reviews </h3>
<% @car.car_reviews.each do |car_review| %>
  <% if car_review.car_id == @car.id %>
    <p><%= car_review.review %></p>
  <% end %>
<% end %>

<br>



<%= link_to 'Edit', edit_car_path(@car), class: 'btn btn-success ml-2' %>
<%= link_to 'Back', cars_path, class: 'btn btn-primary ml-2' %>
<%= link_to 'Leave a review', new_car_car_review_path(@car), class: "btn btn-info" %>

  <% if @car.users_favorite.include? current_user%>
    <%= link_to "Favorited!", favorite_path(@car.id), method: :delete, class: "btn btn-danger" %>
  <%else%>
    <%= form_for(@favorite) do |f| %>
    <%= f.hidden_field :car_id, value: @car.id  %>
    <%= f.submit "Favorite", class: "btn btn-danger", id: "bookmark"%>
  <%end%>
<% end %>

